<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.telerik.com" value="https://nuget.telerik.com/nuget" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <nuget.telerik.com>
      <add key="Username" value="vitvor01@gmail.com" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA2MostqFRgECjFP7YCxOUBgAAAAACAAAAAAAQZgAAAAEAACAAAADnltSdIlMyMKR2Foc232owpRem3Ah46EjgnvWvydHm3AAAAAAOgAAAAAIAACAAAAAVmuIfifmwgayF+TWPI1Ns78Rxf6htT9+Xi53aVERouRAAAAAq2bbbd5vK1UOvkh0atOWwQAAAACuvzI7KVLgJIIZtNqLfvaXoZWG0KpkI9ctazQZKfbGAJBNOIDNrtEqowGWQk+JukU/yKORdVbp1SnMyIqJmEO4=" />
    </nuget.telerik.com>
  </packageSourceCredentials>
</configuration>